@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

@using System.Web.Optimization
@model euseControler.Models.UserData

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <div id="resultTarget"></div>
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th>PRODUCT</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    @using (Html.BeginForm("Product", "Home", FormMethod.Post, new { autocomplete = "off" }))
                    {
                        foreach (var prod in Model.Products)
                        {
                            <tr>
                                <td>@prod</td>
                                <td>

                                    <button style="float: right" class="btn btn-primary btn-xs" name="btn"
                                            type="submit" value="@prod">
                                        View
                                    </button>
                                </td>
                            </tr>
                        }
                    }


                    @*@using (Ajax.BeginForm("Product", "Home", new AjaxOptions { HttpMethod = "POST",
                    OnSuccess = "success", OnFailure = "fail", UpdateTargetId = "resultTarget" }))
                {
                    foreach (var prod in Model.Products)
                    {
                        <tr>
                            <td>@prod</td>
                            <td>
                                @Html.Hidden("btn", prod)
                                <button style="float: right" class="btn btn-primary btn-xs"
                                        type="submit">View</button>
                            </td>
                        </tr>
                    }
                }*@

                </tbody>
            </table>
            <div id="anim"></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/unobtrusive/js")

    <script type="text/javascript">
        function success(data) {
            if (data.RedirectUrl) {
                window.location.href = data.RedirectUrl;
            } else {
                $("#resultTarget").text(data.msg);
            }
        }

        function fail(data) {
            $("#resultTarget").text(data);
        }

    </script>
}