@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>eUse System | @ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" type="text/css">
    @Styles.Render("~/bundles/font-awesome/css")
    @Styles.Render("~/bundles/animate/css")
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/peicon7stroke/css")
    @Styles.Render("~/bundles/peicon7stroke/css/helper")
    @Styles.Render("~/bundles/peicon7stroke/css/style")

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Primary HOME style -->
    @Styles.Render("~/bundles/main/css")
</head>

<body>
    <div class="wrapper">
        <!-- Header -->
        <nav class="navbar navbar-default navbar-fixed-top">
            @Html.Partial("_Header")
        </nav>

        <!-- Navigation -->
        <aside class="navigation" id="navigation">
            @Html.Partial("_Navigation")
        </aside>

        <!-- Main view -->
        <section class="content">
            @RenderBody()
            <!-- Footer-->
            @*@Html.Partial("_Footer")*@
        </section>

        <!-- Section for main scripts render -->
        @Scripts.Render("~/bundles/pace/js")
        @Scripts.Render("~/bundles/jquery/js")
        @RenderSection("scripts", required: false)

        @Scripts.Render("~/bundles/bootstrap/js")
        @Scripts.Render("~/bundles/bootstrap2/js")

        @Scripts.Render("~/bundles/animate/css")

        <!--Scripts.Render("~/bundles/luna/js")-->
        <!-- Handler for local scripts -->
    </div>
</body>
</html>