@{
    ViewBag.Title = "Index";
}

@using Booking.Web.Models
@using Booking.Web.Models.Admin
@using Booking.Web.Controllers
@model EmployeeBarbershop

<h2>Employees</h2>

@using (Html.BeginForm("AddEmployee", "EmployeeBarbershop", FormMethod.Post, new { autocomplete = "off" }))
{
    <div class="form-group">
        <label>Last Name:</label>
        <input type="text" name="LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label>First Name:</label>
        <input type="text" name="FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Username:</label>
        <input type="text" name="Username" class="form-control" />
    </div>

    <div class="form-group">
        <label>Password:</label>
        <input type="password" name="Password" class="form-control" />
    </div>

    <label>Barbershop Name:</label>
    <select name="BarbershopId" id="cars">
        <option value="null">Neselectat</option>
        @foreach (var barbershop in Model.barbershops)
        {
            <option value="@barbershop.Id">@barbershop.Name</option>
        }
    </select>
    <br>

    <button type="submit" class="btn btn-primary">Add Employee</button>
}

<br>
<table border="1">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Barbershop</th>
            <th>Action</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.employees)
        {
            <tr>
                @using (Html.BeginForm("UpdateEmployee", "EmployeeBarbershop", FormMethod.Post))
                {
                    <td>
                        <div class="form-group">
                            <input type="hidden" name="Id" value="@employee.Id" />
                            <input type="text" name="LastName" class="form-control" value="@employee.LastName" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" name="FirstName" class="form-control" value="@employee.FirstName" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" name="Username" class="form-control" value="@employee.Username" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" name="Password" class="form-control" value="@employee.Password" />
                        </div>
                    </td>
                    <td>
                        <select name="BarbershopId" id="cars">
                            <option value="null">Neselectat</option>
                            @foreach (var barbershop in Model.barbershops)
                            {
                                if (barbershop.Id == employee.BarbershopId)
                                {
                                    <option selected value="@barbershop.Id">@barbershop.Name</option>
                                }
                                else
                                {
                                    <option value="@barbershop.Id">@barbershop.Name</option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </td>
                }
                <td>
                    <form action="@Url.Action("DeleteEmployee", "EmployeeBarbershop", new { id = employee.Id })" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

